# ============================
# Python
# ============================

__pycache__/
*.py[cod]

# ============================
# Virtual Environment
# ============================

venv/
.venv/
env/

# ============================
# VS Code
# ============================

.vscode/

# ============================
# PyCharm
# ============================

.idea/

# ============================
# Jupyter
# ============================

.ipynb_checkpoints/

# ============================
# Operating System
# ============================

.DS_Store
Thumbs.db

# ============================
# Logs
# ============================

*.log

# ============================
# Ignore Dataset
# ============================

dataset/*
!dataset/README.md